







/*-----*/








/*-----*/




.place {
  display: grid;
  grid-template-columns: 460px auto;
  gap: 48px 40px;
  margin-bottom: 80px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px auto;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 830px) {
  .place {
    grid-template-columns: 340px auto;
    gap: 48px 28px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 680px) {
  .place {
    grid-template-columns: 100%;
    gap: 32px;
    margin-bottom: 50px;
  }
}

.places__title {
  margin: 0;
  padding: 0;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
}

@media screen and (max-width: 840px) {
  .places__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 400px) {
  .places__title {
    font-size: 32px;
    line-height: 35px;
  }
}

.places__website {
  display: flex;
  flex-direction: column;
  justify-content: end;
}


.places__url {
  margin: 0 auto 12px 0;
  padding: 0;
  color: #AAA;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
}

.places__link {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: underline;
}

.places__img {
  width: 100%;
  object-fit: contain;
}

.places__paragraph {
  margin: 0 auto 26px 0;
  padding: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
}

@media screen and (max-width: 768px) {
  .places__paragraph {
    margin: 0 auto 25px 0;
    font-size: 16px;
  }
}









.footer {
  width: calc(100vw - 96px);
  min-height: 66px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 680px) {
  .footer {
    width: calc(100vw - 16px);
    margin-left: 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}


.list_place_footer {
  display: inline;
}

.footer__list_place_footer {
  text-align: start;
}

@media screen and (max-width: 680px) {
  .list_place_footer {
    display: block;
    margin: 0 0 32px 0;
    padding: 0;
  }

  .list_place_footer:last-of-type {
    margin-bottom: 48px;
  }
}


.footer__link {
  margin-right: 18px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}


@media screen and (max-width: 680px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px; /* 100% */
  }
}

.footer__copyright {
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}



@media screen and (max-width: 680px) {
  .footer__copyright {
    margin-bottom: 24px;
    text-align: left;
    line-height: 14px; /* 100% */
  }
}

