.lead {
  width: calc(100vw - ((max(100vw, 768px) - 768px) * (296 / 512)));
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 56px;
}

/*
1280px макс. ширина экрана, поля по 148рх
768рх - разрешение, при котором поля = 0
296рх - размер всех отступов
1280 - 768 = 512рх изменение разрешения, при котором пропадают поля
(296 / 512) - коэффициент изменения полей при изменении разрешения на один пиксель
 (100vw - 768px) * коэфф. - размер полей для текущего разрешения
(100vw - 768px) * (296 / 512) - искомый размер полей

calc(100vw - ((100vw - 768px) * (296 / 512))) - ширина блока (работает при минимальном разрешении 768рх)

max(100vw, 768px)

calc(100vw - ((max(100vw, 768px) - 768px) * (296 / 512))) ширина блока

*/

@media screen and (max-width: 1024px) {
  .lead {
    padding-top: 48px;
  }
}

