.header {
  width: calc(100% - 96px);
  margin: 28px 48px 0;
  padding: 0;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* calc(100% - 96px)
100% - ширина родителя (ширина страницы, указанная в рх в .page
96px - поля
*/

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 48px);
    margin: 28px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: calc(100% - 32px);
    margin: 16px 16px 0;
    height: 42px;
  }
}
