.cover {
  width: calc(100% - ((max(100%, 1024px) - 1024px) * (96 / 256)));
  height: calc((100vw - ((max(100vw, 1024px) - 1024px) * (96 / 256))) * 0.625);
  margin: 92px auto 68px;
  padding: 0;
  background-image: url('../../images/images__cover/cover-trains.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}


.cover::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-color: #2A2C2F;
}

.cover:hover:before{
   opacity: 0.8;
}

/*
height: width * коэф-1.

коэф-1 - (высота картинки / ширину картинки) (в пикселях)

Размер картинки 1184*740

(740 / 1184) - коэф-1

1280px макс. ширина экрана, поля по 48рх
1024рх - разрешение, при котором поля = 0
96рх - размер всех отступов
1280 - 1024 = 256рх изменение разрешения, при котором пропадают поля
(96 / 256) - коэффициент изменения полей при изменении разрешения на один пиксель
 (100vw - 1024px) * коэфф. - размер полей для текущего разрешения
(100vw - 1024px) * (96 / 256) - искомый размер полей

calc(100vw - ((100vw - 1024px) * (96 / 256))) - ширина картинки (работает при минимальном разрешении 1024рх)

Чтобы адаптив работал и при меньшей ширине используем:

max(100vw, 1024px) - выбор максимального из двух чисел. При разрешении меньше 1024рх в итоговой формуле
(100vw - 1024px) будет 0,
поля будут равны нулю и картинка займет всю ширину экрана. Не даст получить отрицательную разность.

(100vw - 1024px) * (96 / 256)
*/
