.footer__list {
  text-align: start;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}


@media screen and (max-width: 680px) {
  .footer__list {
    flex-direction: column;
  }
}
